@charset "UTF-8";
/*

bootstrap template - login-form Template
Version: 1.0
By: dave-cheon

*/
.spaceLeft {
  margin-left: 10px;
}
.spaceRight {
  margin-right: 10px;
}

/* custom checkbox */
.btn span.fa {
	opacity: 0;
}
.btn.active span.fa {
	opacity: 1;
}
